@media screen {
  #drawPalette {
      display: block;
  }
}
@media print {
  #drawPalette {
      display: none;
  }
}

#drawPalette {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.drawTool {
  position: relative;
  display: inline-block;
  width: 78px;
  height: 78px;
  margin: 4px;
  cursor: pointer;
}

.drawTool div {
  position: relative;
  width: 72px;
  height: 72px;
  margin-left: 3px;
  margin-top: 3px;
  border-radius: 10px;
  text-align: center;
}

.drawTool .label {
  padding-bottom: 2px;
}

.drawTool .emoji {
  display: block;
  top: 4px;
  font-size: 24pt;
}

.drawTool .label {
  bottom: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12pt;
}

.drawTool.selected div {
  margin-top: 0px;
  margin-left: 0px;
  border: solid 3px #00ff00;
  border-radius: 12px;
}

.drawToolTemplates {
  display: none;
}

.drawable {
  position: relative;
  cursor: pointer;
}
