.title {
  font-size: 24pt;
  font-family: 'Papyrus';
}

.title-font {
  font-family: 'Papyrus';
}

.letter-cell {
  font-family: 'Caveat', cursive;
  font-size: 14pt;
}

#final .letter-input {
  font-family: 'Caveat', cursive;
  font-size: 20pt;
  color: #ff0099;
}

#extracted {
  font-family: 'Caveat', cursive;
  font-size: 20pt;
  color: #ff0099;
}

#extracted .letter-input {
  font-family: 'Caveat', cursive;
  font-size: 20pt;
  color: #ff0099;
}