._xmas25 {
  .title {
    font-size: 32pt;
    font-family: 'Lorean';
    letter-spacing: -1.5px;
    margin-top: -0.25in;
  }

  .title-font {
    font-family: 'Lorean';
  }

  .input-font {
    font-family: 'Caveat';
  }

  .input-font .letter-literal {
    font-family: 'Caveat';
  }

  .letter-cell {
    font-family: 'Caveat';
    font-size: 14pt;
    width: 1.05em;
  }

  .word-cell {
    font-family: 'Caveat';
    font-size: 14pt;
  }

  #final .letter-cell {
    font-family: 'Caveat';
    font-size: 20pt;
    color: #ff0099;
  }

  #final-answer .letter-cell {
    font-size: 32pt;
  }

  #extracted {
    font-family: 'Caveat';
    font-size: 20pt;
    color: #ff0099;
  }

  .extracted {
    font-family: 'Caveat';
    font-size: 20pt;
    color: #ff0099;
  }

  #extracted .letter-cell {
    font-family: 'Caveat';
    font-size: 20pt;
    color: #ff0099;
  }

  #extracted .letter-input {
    font-family: 'Caveat';
    font-size: 20pt;
    color: #ff0099;
  }

  .response.rt-correct {
    white-space: pre;
  }

  @media print {
    .screen-only {
      display: none;
    }
  }

  td:has(.input-group) {
    background-color: #ff9;
  }
  .letter-cell:has(input:focus) {
    background-color: gold;
    color: black;
  }
  input::selection {
    background-color: transparent;
    color: #900;
  }
  .letter-cell.extract-highlight:has(input:focus) {
    background-color: #dc9;
    color: black;
  }
  .letter-cell.extract-highlight input::selection {
    background-color: transparent;
    color: #900;
  }
  .word-cell:has(input:focus) {
    background-color: gold;
    color: black;
  }
  .word-cell input::selection {
    background-color: transparent;
    color: #900;
  }
}