.title {
  font-size: 22pt;
  font-family: 'Abril Fatface';
}

.title-font {
  font-family: 'Abril Fatface';
}

.input-font {
  font-family: 'Caveat';
}

._21 .input-font .letter-literal {
  font-family: 'Caveat';
}

._21 .letter-cell {
  font-family: 'Caveat';
  font-size: 14pt;
}

._gs24 .letter-cell {
  font-family: 'Caveat';
  font-size: 14pt;
}

.word-cell {
  font-family: 'Caveat';
  font-size: 14pt;
}

#final .letter-cell {
  font-family: 'Caveat';
  font-size: 20pt;
  color: #ff0099;
}

#extracted {
  font-family: 'Caveat';
  font-size: 20pt;
  color: #ff0099;
}

.extracted {
  font-family: 'Caveat';
  font-size: 20pt;
  color: #ff0099;
}

#extracted .letter-cell {
  font-family: 'Caveat';
  font-size: 20pt;
  color: #ff0099;
}

input#extracted {
  text-transform: uppercase;
  border: solid 1px #eee;
  border-radius: 5px;
}

@media print {
  .screen-only {
    display: none;
  }
}


#modal-login {
  position: fixed;
  z-index: 1;
  left: 0.5in;
  top: 0.5in;;
  width: 5in;
  height: 2.5in;
  overflow: hidden;
  background-color: white;
  border: 1px solid #888;
  box-shadow:0px 0px 10px black;
}
#modal-login.hidden {
  display: none;
}
#modal-login .modal-content {
  margin: 0px;
}
#modal-iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 5in;
  height: 2.5in;
  border: none;
  z-index: 2000;
}
.iPad #modal-login {
  width: 5.1in;
  height: 2.7in;
}
.iPad #modal-iframe {
  width: 5.1in;
  height: 2.7in;
}
#modal-login .modal-close {
  color: #ccc;
  position: absolute;
  top: 0px;
  right: 4px;
  font-size: 24px;
  font-weight: bold;
  z-index: 2010;
}
#modal-login .modal-close:hover,
#modal-login .modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}