.title {
  font-size: 24pt;
  font-family: 'Architects Daughter';
}

.title-font {
  font-family: 'Architects Daughter';
}

.letter-cell {
  font-family: 'Kalam', cursive;
  font-size: 14pt;
}

#final .letter-input {
  font-family: 'Kalam', cursive;
  font-size: 20pt;
  color: #ff0099;
}

#extracted {
  font-family: 'Kalam', cursive;
  font-size: 20pt;
  color: #ff0099;
}

.extracted {
  font-family: 'Kalam', cursive;
  font-size: 20pt;
  color: #ff0099;
}

#extracted .letter-input {
  font-family: 'Kalam', cursive;
  font-size: 20pt;
  color: #ff0099;
}

@media print {
  .screen-only {
    display: none;
  }
}