body { 
    margin:0px;
    padding:0px;
    page-break-inside:avoid; 
}
/*
Use class="letter portrait"       for 8½  x 11
Use class="letter landscape"      for 11" x 8½"
Use class="legal legalportrait"   for 8½  x 14"
Use class="ledger ledgerportrait" for 11" x 17"
Use class="scrapbook scrapbook"   for 12" x 12"
*/
.letter.landscape .printedPage {
    width:10in;
    height:7.5in; 
}

.letter.portrait .printedPage {
    width:7.5in;
    height:10in; 
}

.legal.legalportrait .printedPage {
    width:7.5in;
    height:13in; 
}
.ledger.ledgerportrait .printedPage {
    width:10in;
    height:16in; 
}

.scrapbook.scrapbook .printedPage {
    width:11in;
    height:11in; 
}

@media screen {
    .printedPage {
        margin-top:0.25in;
        margin-left:0.25in;
        padding-left:0.5in;
        padding-right:0.5in;
        padding-top:0.5in;
        padding-bottom:0.5in;
        position:relative; 
        box-shadow:5px 5px 25px #888888; 
    }

    .iframe .printedPage {
        margin: 0px;
        padding: 0.5in;
        box-shadow: none;
    }
}
@media print {
    .printedPage {
        margin-top:0.5in; 
        margin-left:0.5in;
        margin-right:0.5in; 
        margin-bottom:0in; 
        padding:0px; 
        position:relative; 
        page-break-after:always; 
        page-break-inside:avoid; 
    }

    .iframe .printedPage {
        margin: 0.25in;
        padding: 0.25in;
        page-break-after: avoid; 
    }
}

.pageWithinMargins {
    width: 100%;
    height: 100%;
    position: relative;
}
.debug .pageWithinMargins {
    box-shadow:0px 0px 15px #999966; 
}

#pageBody {
    position: absolute;
    width: 100%;
    top: 0.5in;
    z-index: 0;
}

.portrait #pageBody {
    height: 9.25in;
}

.landscape #pageBody {
    height: 6.75in;
}

.legalportrait #pageBody {
    height: 12.25in;
}    

.ledgerportrait #pageBody {
    height: 15.25in;
}    

.scrapbook #pageBody {
    height: 11.75in;
}    

.debug #pageBody {
    box-shadow:0px 0px 15px #33cc66; 
}