.table .title-font {
  font-size: 24pt;
  font-weight: normal;
}

.table th {
  background-color: #4472C4;
}
#sortHeader th {
  cursor: s-resize;
}

.table tr:nth-child(odd) {
  background-color: #f5f5f5;
}
.table tr:nth-child(even) {
  background-color: #ECEEEE;
}

.table tr.solved:nth-child(odd) {
  background-color: #afa;
}
.table tr.solved:nth-child(even) {
  background-color: #8d8;
}

.table td {
  position: relative;
  line-height: 8pt;
  padding: 0px;
}

.icons {
  width: 1in; 
  text-align: center;
}
.html {
  min-width: 3in; 
  text-align: left;
  white-space: nowrap;
}
.challenge {
  width: 1in;
  text-align: center;
}
.author {
  width: 1.5in; 
  position: relative;
  text-align: left; 
  text-size-adjust: 9pt;
}

.completed {
  padding-right: 30px;
  white-space: nowrap;
}
.completed .teammate {
  font-size: 16pt;
  text-shadow: 0 0 2px white, 0 0 1px white, 0 0 6px lime;
}

tr.solved .checkmark {
  background-image: url('../Icons/Check.png');
  background-size: 30px 27px;
  display: inline-block;
  position: absolute;
  width: 30px; 
  height: 27px;
  right: 2px;
  top: 1px;
  content:"";
}

.feeders {
  position: relative;
  text-align: center;
  width: 1.5in;
}
.feeders a {
  text-decoration: none;
}
.feeders img {
  position: relative;
  top: 2px;
  height: 0.25in;
}
.feeders sub {
  font-weight: bold;
  font-size: 7pt;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.feeders .bus sub {
  position: relative;
  left: -16px;
  top: -8px;
  color: black;
  text-shadow: 0 0 5px yellow;
}
.feeders .science sub {
  position: relative;
  left: -14px;
  top: -6px;
  color: black;
}
.feeders .radio sub {
  position: relative;
  left: -19px;
  top: -8px;
  color: white;
}
.feeders .science.unlocked sub {
  color: white;
}
#logo-div {
  position: absolute;
  left: 7.2in;
  top: 0.5in;
  height: 7.12in;
}
#decoder-frame {
  position: absolute;
  left: 8.6in;
  top: 6.2in;
}
.submital {
  text-align: center;
}
.no-solver .if-solver {
  display: none;
}
.if-no-solver {
  display: none;
}
.no-solver .if-no-solver {
  display: inline;
}
img.solve-check {
  height: 0.25in;
}
tr {
  position: relative;
}
.check {
  left: .7in;
  top: 0in;
}
#legend td {
  vertical-align: top;
}
.icons img {
  height: 0.25in;
  border: solid 1px transparent;
}
img.thumb {
  vertical-align: middle;
  margin-left: 0.35in;
  max-height: 0.25in;
  max-width: 0.25in;
  border: solid 1px #ccc;
}
.html:hover {
  font-size: 11pt;
  font-weight: bold;
}
.html:hover img.thumb {
  transform: scale(4) rotate(5deg);
  transform-origin: bottom;
  border: solid 0.5px #ddd;
  animation-name: grow-big;
  animation-duration: 300ms;
}
.big img.thumb {
  transform: scale(4);
  transform-origin: bottom;
  border: solid 0.5px #ddd;
}
.table tr.big td,th {
  background-color: #4472C4;
  color: white;
}
@keyframes grow-big {
  from { transform: scale(1) translate(0px,0px) rotate(0deg); }
  to { transform: scale(4) translate(1px,0px) rotate(5deg); }
}
@keyframes shrink-little {
  from { transform: scale(4) rotate(5deg); }
  to { transform: scale(1) translate(0px,0px) rotate(0deg); }
}

.feedLink img {
  opacity: 50%;
  filter: grayscale(100%);
}
.feedLink sub {
  opacity: 50%;
}
.feedLink.unlocked img {
  opacity: 100%;  
  filter: drop-shadow(0px 0px 2px #00ffff)
}
.feedLink.unlocked sub {
  opacity: 100%;
}
.solved .feedLink.unlocked img {
  opacity: 100%;  
  filter: initial;
}


#team-roster p {
  font-size: 14pt;
}
#team-roster .teamname {
  font-weight: bold;
}
#team-roster .avatar {
  font-size: 20pt;
  width: 0.5in;
  text-align: right;
}
#team-roster .playername {
  font-size: 20pt;
  padding-left: 5px;
}

#iframe-loader {
  width: 1px;
  height: 1px;
  border: none;
}