      .pbn-col-header {
        vertical-align: bottom;
        text-align: center;
        width: 15px;
        padding-bottom: 3px;
      }
      .pbn-col-group {
        display:block;
        letter-spacing: -1.5px;
      }
      .pbn-col-header:nth-child(5n+2) {
        border-left: solid 1px black;
      }
      .pbn-col-header:nth-child(10n+11) {
        border-right: solid 1.5px black;
      }
      .pbn-col-footer {
        position: relative;
        height: 0.5in;
      }
      .pbn-col-footer:nth-child(5n+2) {
        border-left: solid 1px black;
      }
      .pbn-col-footer:nth-child(10n+11) {
        border-right: solid 1.5px black;
      }
      .pbn-col-validation {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        vertical-align: top;
        text-align: center;
      }
      .pbn-col-validation.done {
        background-color: #80ff80;
      }
      .pbn-col-validation.exceeded {
        background-color: #ff8080;
      }

      .pbn-row-header {
        text-align: right;
        letter-spacing: -1.5px;
        padding-right: 8px;
        width: 0.8in;
      }
      .pbn-row-group {
        display: inline-block;
        margin-left: 8px;
      }
      .pbn-row td {
        border: dotted 0.5px #ccc;
      }
      .pbn-row:nth-child(5n+2) td {
        border-top: solid 1px black;
      }
      .pbn-row:nth-child(10n+11) td {
        border-bottom: solid 1.5px black;
      }
      .pbn-row td:nth-child(5n+2) {
        border-left: solid 1px black;
      }
      .pbn-row td:nth-child(10n+11) {
        border-right: solid 1.5px black;
      }
      .pbn-row-footer {
        width: 0.5in;
        position: relative;
      }
      .pbn-row-validation {
        position: absolute;
        top: 0px;
        left: 0px;
        text-wrap: nowrap;
      }
      .pbn-row-validation.done {
        background-color: #80ff80;
      }
      .pbn-row-validation.exceeded {
        background-color: #ff8080;
      }

      @media screen {
        
      }
      @media print {
        .pbn-row-footer {
          display: none;
        }
        .pbn-col-footer {
          display: none;
        }
      }
