._Admin .title {
  font-size: 32pt;
  font-family: 'Algerian';
  font-variant-caps: small-caps;
  position: relative;
  top: -0.25in;
}

.alternate tr:nth-child(odd) td {
  background-color: #eef;
}
.alternate tr:nth-child(even) td {
  background-color: #ddf;
}
.alternate tr:hover td {
  background-color: #bbf;
}

._Admin th {
  font-size: 14pt;
  text-align: left;
  padding-right: 20px;
}
.missing td {
  border: solid 1px red;
}
.new td, td.new {
  font-weight: bold;
}


.ascArrow {
  display: none;
}
.sortedAsc .ascArrow {
  display: inline;
  position: relative;
  top: -2px;
}
.descArrow {
  display: none;
}
.sortedDesc .descArrow {
  display: inline;
  position: relative;
  top: -2px;
}

.sortable th {
  cursor: pointer;
}

._Admin #backlink {
  top: 0px;
  right: 0px;
}