table {
  border-spacing: 0px;
}

#examples {
  width:7.5in;
}
#examples tr:nth-child(odd) td {
  background-color: #ffffdd;
}
td {
  padding: 2px 4px;
  vertical-align: middle;
}

#css-styles {
  position: absolute;
  top: 0px;
  left: 8in;
  width: 7in;
}
#css-styles code {
  width: 100%;
}

#left-side {
  width:7.5in;
}
.alternating-rows tr:nth-child(odd) td {
  background-color: #ffffdd;
}

#right-side {
  position: absolute;
  top: 0px;
  left: 8in;
  width: 8in;
}
#right-side code {
  width: 100%;
}

code {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  background-color: lightblue;
  border: blue solid 1px;
}
code pre {
  margin: 4px;
}

.alternating-even tr:nth-child(even) td {
  background-color: #ffffdd;
}
